[changelog]
    header = "# Changelog\n\n"
    body = """
{% for commit in commits %}
- {{ commit.message | split(pat="\\n") | first }}
{% endfor %}
"""
    trim = true

[git]
    conventional_commits = false
    filter_unconventional = false
